.container section.places {
     position: relative;
     top: 100px;
     box-sizing: border-box;
}
.container section.places h1 {
    margin-left: 10px;
    font-size: 30px;
}

section.places .art {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}
.container section.places article {
     width: 390px;
     float: left;
     margin: 20px auto;
     padding: 20px;
     border: 1px solid #659DBD;
     border-radius: 4px;
}

article h2 {
     font-size: 30px;
     text-align: center;
}


article div.price_by_night {
     color: #659DBD;
     font-size: 30px;
     float: right;
     height: 60px;
     min-width: 60px;
     border: 4px solid #659DBD;
     border-radius: 50%;
     position: relative;
     bottom: 30px;
     left: 5px;
     box-sizing: border-box;
}
.price_by_night p {
     padding: 10px 0 10px 0;
}

article div.information {
     height: 80px;
     width: 100%;
     border-top: 1px solid #DDDDDD;
     border-bottom: 1px solid #DDDDDD;
     margin-top: 50px;
     position: relative;
}


div.information div.max_guest {
     display: inline-block;
     height: 100%;
     width: 100px;
     background-image: url('/web_static/images/icon_group.png');
     background-repeat: no-repeat;
     background-position: top 10px left 50px;
     position: relative;
}

div.max_guest p {
     position: absolute;
     bottom: 0;
     padding: 0 0 5px 40px;
}

div.information .number_rooms {
     display: inline-block;
     height: 100%;
     width: 100px;
     background-image: url('/web_static/images/icon_bed.png');
     background-repeat: no-repeat;
     background-position: top 10px left 25px;
     position: relative;
     left: 40px;
}

div.number_rooms p {
     position: absolute;
     bottom: 0;
     padding: 0 0 5px 20px; 
}

div.information .number_bathrooms {
     display: inline-block;
     height: 100%;
     width: 100px;
     background-image: url('/web_static/images/icon_bath.png');
     background-repeat: no-repeat;
     background-position: left 10px;
     position: relative; 
     left: 80px;
}

div.number_bathrooms p {
     position: absolute;
     bottom: 0;
     padding: 0 0 5px 0; 
}

article div.user {
     padding: 10px 0 10px 0; 
}
article div.amenities h3 {
     padding-top: 50px;
}

article div.amenities {
     text-align: left;
     border-bottom: 1px solid #DDDDDD;
     font-size: 16px;
     padding-bottom: 10px;
}
div.amenities ul {
     padding-top: 10px;
}

div.amenities ul li {
     text-indent: 50px;
     padding: 10px 0 10px 0;
}

ul li.tv {
     list-style: none;
     background-image: url('/web_static/images/icon_tv.png');
     background-position: left;
     background-repeat: no-repeat;
     background-size: 30px;
}

ul li.wifi {
     list-style: none;
     background-image: url('/web_static/images/icon_wifi.png');
     background-position: left;
     background-repeat: no-repeat;
     background-size: 30px;
}

ul li.pet {
     list-style: none;
     background-image: url('/web_static/images/icon_pets.png');
     background-position: left;
     background-repeat: no-repeat;
     background-size: 30px;
}

article div.reviews h3 {
     margin-top: 40px;    
}
article div.reviews {
     text-align: left;
     border-bottom: 1px solid #DDDDDD;
     font-size: 16px;
     padding-bottom: 10px;
}

div.reviews ul li {
     padding-top: 20px; 
}

div.reviews ul li p.revs {
     font-size: 14px;
     padding-bottom: 5px;
}

div.reviews ul li p {
     font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .container section.places {
          clear: both;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 15px;
    }
    .container section.places article {
          clear: both;
          width: 300px;
          margin: 20px auto;       
    }
    .container section.places h1 {
          clear: both;
          margin-left: 10px;
          font-size: 20px;
    }
    div.information div.max_guest {
          clear: both;
          width: 33%;
          background-position: top 10px left 20px;
          background-size: auto;
          position: relative;
    }
    div.max_guest p {
          clear: both;
          padding: 0 0 5px 20px;
    }
    div.information .number_rooms {
          clear: both;
          width: 33%;
          background-position: top 10px left 10px;
          position: relative;
          left: 0px;
    }

    div.number_rooms p {
          clear: both;
          padding: 0 0 5px 5px; 
    }
    div.information .number_bathrooms {
          clear: both;
          width: 33%;
          position: absolute;
          left: 210px;
}

    div.number_bathrooms p {
          clear: both;
          padding: 0 0 5px 0; 
     }

}
@media only screen and (max-width: 768px) and (min-width: 600px) {
    .container section.places {
          clear: both;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 15px;
    }
    .container section.places article {
          clear: both;
          width: 300px;
          margin: 20px auto;       
    }
    .container section.places h1 {
          clear: both;
          margin-left: 10px;
          font-size: 20px;
    }
    div.information div.max_guest {
          clear: both;
          width: 33%;
          background-position: top 10px left 20px;
          background-size: auto;
          position: relative;
    }
    div.max_guest p {
          clear: both;
          padding: 0 0 5px 20px;
    }
    div.information .number_rooms {
          clear: both;
          width: 33%;
          background-position: top 10px left 10px;
          position: relative;
          left: 0px;
    }

    div.number_rooms p {
          clear: both;
          padding: 0 0 5px 5px; 
    }
    div.information .number_bathrooms {
          clear: both;
          width: 33%;
          position: absolute;
          left: 210px;
}

    div.number_bathrooms p {
          clear: both;
          padding: 0 0 5px 0; 
     }

}
@media only screen and (min-width: 768px) {
    .container section.places {
          clear: both;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 15px;
    }
    .container section.places article {
          clear: both;
          width: 350px;
          margin: 20px auto;       
    }
    .container section.places h1 {
          clear: both;
          margin-left: 10px;
          font-size: 30px;
    }
    div.information div.max_guest {
          clear: both;
          width: 33%;
          background-position: top 10px left 20px;
          background-size: auto;
          position: relative;
    }
    div.max_guest p {
          clear: both;
          padding: 0 0 5px 20px;
    }
    div.information .number_rooms {
          clear: both;
          width: 33%;
          background-position: top 10px left 10px;
          position: relative;
          left: 0px;
    }

    div.number_rooms p {
          clear: both;
          padding: 0 0 5px 5px; 
    }
    div.information .number_bathrooms {
          clear: both;
          width: 33%;
          position: absolute;
          left: 240px;
    }

    div.number_bathrooms p {
          clear: both;
          padding: 0 0 5px 0; 
     }


     div.reviews ul li p.revs {
          font-size: 16px;
     }

     div.reviews ul li p {
          font-size: 14px;
     }

}

@media only screen and (min-width: 992px) {
    section.places div.art {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
    }
    .container section.places article {
          clear: both;
          width: 350px;
          margin: 30px auto;
    }
    .container section.places h1 {
          clear: both;
          margin: 5px 0 0 10px;
          font-size: 30px;
    }
    div.information div.max_guest {
          clear: both;
          width: 33%;
          background-position: top 10px left 20px;
          background-size: auto;
          position: relative;
    }
    div.max_guest p {
          clear: both;
          padding: 0 0 5px 20px;
    }
    div.information .number_rooms {
          clear: both;
          width: 33%;
          background-position: top 10px left 10px;
          position: relative;
          left: 0px;
    }

    div.number_rooms p {
          clear: both;
          padding: 0 0 5px 5px; 
    }
    div.information .number_bathrooms {
          clear: both;
          width: 33%;
          position: absolute;
          left: 240px;
    }

    div.number_bathrooms p {
          clear: both;
          padding: 0 0 5px 0; 
     }


     div.reviews ul li p.revs {
          font-size: 16px;
     }

     div.reviews ul li p {
          font-size: 14px;
     }
}

@media only screen and (min-width: 1200px) {
    section.places div.art {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
    }
    .container section.places article {
          clear: both;
          width: 390px;
          margin: 30px auto;
    }
    .container section.places h1 {
          clear: both;
          margin: 5px 0 0 10px;
          font-size: 30px;
    }
    div.information div.max_guest {
          clear: both;
          width: 33%;
          background-position: top 10px left 30px;
          background-size: auto;
          position: relative;
    }
    div.max_guest p {
          clear: both;
          padding: 0 0 5px 20px;
    }
    div.information .number_rooms {
          clear: both;
          width: 33%;
          background-position: top 10px left 10px;
          position: relative;
          left: 0px;
    }

    div.number_rooms p {
          clear: both;
          padding: 0 0 5px 5px; 
    }
    div.information .number_bathrooms {
          clear: both;
          width: 33%;
          position: absolute;
          left: 260px;
    }

    div.number_bathrooms p {
          clear: both;
          padding: 0 0 5px 0; 
     }


     div.reviews ul li p.revs {
          font-size: 16px;
     }

     div.reviews ul li p {
          font-size: 14px;
     }
}
